{% load i18n menu_tags cache %}
{# DOCS: http://django-cms.readthedocs.org/en/latest/advanced/templatetags.html#show-menu-examples #}

{% for child in children %}
<li class="{{ child.attr.reverse_id }}
    {% if child.ancestor %} aktiv{% endif %}
    {% if child.active %} aktiv{% endif %}
    {% if child.children and child.selected %} aktiv{% endif %}
    {% if forloop.first %} first home{% endif %}
    {% if forloop.last %} last{% endif %}">
    <a href="{{ child.get_absolute_url }}" class="{% if forloop.first %}sprites{% endif %}{% if child.selected %} aktiv{% endif %}">
        {% if forloop.first %}<span>{% endif %}
        {{ child.get_menu_title }}
        {% if forloop.first %}</span>{% endif %}
    </a>
    {% if child.children %}
        <ul>
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
    {% endif %}
</li>
{% endfor %}
