/* ##### mediaqueries ##### */

/* up 1024 */
@media screen and (max-width:80em) {
  #content * img {max-width:100%;}
}

/* 1023 */
@media screen and (max-width:64em) {
  body {-webkit-text-size-adjust:100%;}
  #rahmen {min-width:100%;}
  #quadrat_claim_logo {height:auto;}
  #breadcrumb {width:66%; height:auto;}
  #hauptmenue form {width:33%;}
  #maincontent {overflow:inherit; width:100%;}
  #rahmen * img {max-width:100%; height:auto;}
  #rahmen #content .gmap img {max-width:none; height:inherit;}
  .themen-slider li .topic {position:relative; left:0; width:100%; text-align:left;}
  table.column td {width:33%;}
  .contact {padding:0 8%;}
  #imprint {padding:0 32px;}
  #imprint li.copy {width:26%}
  #imprint li.feat {width:20%;}
  #imprint li.info {width:54%;}
  #imprint li.feat a span {display:none;}
}

/* 800 - 980 */
@media screen and (min-width:50em) and (max-width:63.9375em) {
  .individuell #hauptmenue {margin-left:5px;}
  .contact {padding:0 8%;}
}

/* 980 */
@media screen and (max-width:60em) {
  #mainnav .home, .topic span, #lwl-header .features li.font-size {display:none;}
  #mainnav, #lwl-header #mainnav {border-width:1px; height:auto;}
  #mainnav li {width:49%!important; display:inline-block; float:none!important; margin:2px 0;}
  #mainnav li a {padding-left:5px;}
  #breadcrumb, #hauptmenue form {width:100%;}
  .individuell #hauptmenue {margin:0; width:100%; text-align:left;}
  #mainnav li {width:100%; text-align:left; font-size:93.75%; background-color:#fff;}
  .js #hauptmenue {position:absolute; top:-1000px;}
  .js .show-mainnav #hauptmenue {position:relative;left:0; top:0;}
  .individuell #hauptmenue ul {font-size:100%;}
  .individuell #hauptmenue ul li {width:49%; display:inline-block; font-size:100%; margin:2px 0; padding:4px 0; background-color:#eee;}
  .individuell #hauptmenue ul li a {display:block; padding:0 5px;}
  .js .mainnav.mobile {display:inline-block;}
  #lwl-header .features .first .mobile {display:inline-block;}
  .mobile em {font-style:normal;}
  .mobile b {font:2.75em/1 courier, courier new, monospace; vertical-align:top;}
}

/* 768 */
@media screen and (max-width:48em) {
  .js .mobile.sidenav {display:block; background-color:#fff; margin:0 0 5px 5px; line-height:2.5;}
  #rahmen {min-width:100%;}
  .individuell #lwl-claim, #lwl-claim, .individuell #lwl-logo, #lwl-logo {float:left; text-align:left; width:auto;}
  #lwl-claim img, #lwl-logo img {width:auto; max-width:100%!important; padding:0;}
  #stepnav, #content, #fullwidth-content, #fullwidth-content #content, #sidebar, #fullwidth-content #sidebar {width:100%; margin:0; float:none;}
  #stepnav {width:200px;}
  #stepnav .stepnav ul li {background-color:#3c3c3c; border-color:#888!important;}
  #stepnav .stepnav li a, #stepnav .stepnav li strong {color:#fff; padding:10px 15px;}
  .video > div {position:relative; padding-bottom:56.25%!important; height:0!important; overflow:hidden;}
  .video > div object, .video > div embed {position:absolute; top:0; left:0; width:100%; height:100%;}
  #imprint > li[class], #imprint.custom > li[class] {width:100%; text-align:left; line-height:2.5;}
  #imprint > li.first {display:list-item; float:none;}
  .imprint .feat .print a {margin:0;}
  #imprint li.feat a span {display:inline;}

  #unten_links {position:relative;}
  .js #navi_div {position:absolute; left:-500px; top:0; visibility:hidden;}
  .js .show-sidenav #navi_div {left:0; top:0; z-index:1001; width:100%; visibility:visible;}
  .js .show-sidenav #content {position:relative; left:200px;}

  .flex-direction-nav .flex-prev {left:0;}
  .flex-direction-nav .flex-next {right:0;}
  .extra {display:none;}

  /* theme-2014 */
  .contact, #imprint {padding:0 5px; height:auto;}
  .contact li[class] {width:100%;}
  .contact li.social ul:after {display:inline;}
  .contact li.social ul li {width:72px!important;}

  #lwl-header .features li a span {
    width:0;
    height:0;
    position:absolute;
    top:-500px;
    left:-500px;
  }

  #col-logos .sprites {display:inline-block; text-align:left; float:none; left:5px; vertical-align:top; margin:5px 0;}
  #col-logos .logo-claim {margin-top:10px;}

  .video-list li {
    display:list-item;
    width:100%;
    text-align:center;
    margin-bottom:3px;
  }
  .video-list li h3 {text-align:left;}
  #imprint > li[class] {line-height:2; margin-left:5px;}
  .slider-flex .flex-control-paging, .slider-flex .flex-direction-nav,
  .main-slider .flex-control-paging, .main-slider .flex-direction-nav {top:0; width:100%; left:0;}
/*   .main-slider .flex-control-paging, .main-slider .flex-direction-nav {width:100%; left:0;} */
  .article, #themen-slider, .content-slider {margin-bottom:10px;}
  .content-slider .zoomable {min-height:inherit;}
  #lwl-header .features .first {float:none; margin-left:0;}
  #lwl-header .features li, #lwl-header .features li[class] a {margin:0!important;}
  #lwl-header .features {text-align:left;}
  #seitenfuss_boxen ul li {float:none; width:49%; vertical-align:top; display:inline-block;}
}

@media screen and (min-width:39.9375em) and (max-width:47.875em) {
  #seitenfuss_boxen {padding:2em 0;}
  #seitenfuss_boxen ul li img {height:auto;}
  .topic {width:50%;}
}

/* 640 */
@media screen and (max-width:40em) {
  #fullwidth-content .plain-text .column {column-count:1; -moz-column-count:1; -webkit-column-count:1; margin:10px 0; border:0;}
  #sitemap {display:none;}
  .zahlenliste li .number {width:30%; vertical-align:top; font-size:3em;}
  .zahlenliste li .text {width:68%;}
  .presse .thumb, .presse .eintrag-inhalt {display:block; float:none; width:auto;}
  .presse .thumb {margin-right:0;}
  .presse, .videos {padding:0 5px; margin:0;}
  .main-slider .topic {position:relative; left:0; bottom:0; width:100%; height:auto; background-color:rgb(0,50,95);}
  .main-slider .topic h4 {font-size:125%;}
  #lwl-portal .plain-text .eintrag {width:95%; padding:10px 0;}
  .plain-text .eintrag h3:before, .plain-text .eintrag h3:after {display:none;}
  #lwl-header .features .lwl-info .mainnav-info,#lwl-header .features .font-size .font-size-info {width:auto;}
  #lwl-header .features .search form {width:100%;}
  .linkbox, .linkbox.middle {width:100%; display:block; margin:0 0 3px; text-align:center;}
  #videos ul, .servicelinks ul {margin-bottom:10px;}
  .servicelinks ul li {height:auto; margin:10px 0; width:32%; vertical-align:top;}
  .servicelinks ul li a {padding-top:0;}
  #seitenfuss_boxen {padding:10px 0;}
  #seitenfuss_boxen ul li {margin-bottom:10px;}
  #seitenfuss_boxen ul li img {height:auto;}
}

/* 480 */
@media screen and (max-width:29.9375em) {
  h2, h3, p, ul, ol, li, blockquote, th, td {-moz-hyphens:auto; -webkit-hyphens:auto; -ms-hyphens:auto; hyphens:auto;}
  #breadcrumb {display:none;}
  #lwl-logo, #lwl-claim {width:100%;}
  #lwl-claim img {padding:0;}
  #kontaktformular label {display:block;width:100%;}
  #kontaktformular input, #kontaktformular textarea {width:100%!important;}
  .img-left .img {float:none;}
  .article.img-left .eintrag {margin:0;}
  .video > div {width:auto!important;}
  .presse .eintrag-inhalt {padding:0;}
  .presse .eintrag {padding:10px 0;}
  .teaserbox-item .image {display:block; width:auto;}
  .teaserbox-item .eintrag {width:100%; padding-left:0;}
  #imprint {position:relative; padding-bottom:50px;}
  #footer #imprint .toplink {position:absolute; bottom:5px; left:0; width:100%!important; height:20px; text-align:center; background-color:#e41e14;}
  #footer #imprint .toplink a {display:block; font-size:125%; color:#fff;}
  .toplink span {display:none;}
  #imprint li.first em {white-space:nowrap;}
  #seitenfuss_boxen ul li {display:list-item; float:none; width:auto;}
  #col-logos .logo-claim {width:120px;}
  #col-logos .special {width:55px; margin-left:10px;}
  .contact .social ul .tw {margin:0;}
  .contact .adr h2 {margin-top:10px;}
}

/* 479 - 240 */
@media screen and (min-width:15em) and (max-width:29.875em) {
  #seitenfuss_boxen ul li {border-bottom:1px solid #fff;}
}

/* 239 */
@media screen and (max-width:14.875em) {
  #col-logos .special {display:block;}
  .individuell #lwl-claim, #lwl-claim {display:none;}
}