{% load staticfiles cms_tags %}

{% placeholder "teaser" or %}
    <div class="sidebar-block">
        <h3>Teaser</h3>
        <div class="fliesstext">
            <p>Kein Teaser verfügbar.</p>
        </div>
    </div>
{% endplaceholder %}

{% comment %}
<div class="sidebar-block image">
    <div class="sidebar-inner">
        <div class="img p_foto">
            <div class="zoomable">
                <a target="_self" href="http://www.lwl.org/LWL/Der_LWL/PR/" class="link">
                    <img class="image-url" src="/static/img/final.jpg" alt="mehrere Tageszeitungen" title="mehrere Tageszeitungen" />
                </a>
                <a href="http://www.lwl.org/LWL/Der_LWL/Der-LWL-im-Ueberblick/@@afiles/39604862/scale-2000-1200/final.jpg" class="zoom popup"><em title="öffnet vergrößerte Bildansicht">+</em></a>
            </div>
        </div>

        <h3>Pressekontakt</h3>
        <div class="fliesstext">
            <div>
                <div>
                    <div>
                        <div>
                            <p>Freiherr-vom-Stein-Platz 1<br />
                            48133 M&uuml;nster<br />
                            Tel.: 0251 591-235<br />
                            Fax: 0251 591-4770<br />
                            E-Mail: presse@lwl.org</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="link detail_text">
            <a title="Team, Presseinfos, Publikationen" target="_self" href="http://www.lwl.org/LWL/Der_LWL/PR/">Team, Presseinfos, Publikationen</a>
        </p>
    </div>
</div>

<div class="sidebar-block image">
    <div class="sidebar-inner">
        <div class="img p_foto">
            <div class="zoomable">
                <a target="_self" href="http://www.lwl.org/lwl-download/Der_LWL/Der_LWL_Flyer_BF.pdf" class="link">
                    <img class="image-url" src="/static/img/infoflyer_lwl_2015_2.jpg" alt="Infoflyer des LWL 2015" title="Infoflyer des LWL 2015" />
                </a>
                <a href="http://www.lwl.org/LWL/Der_LWL/Der-LWL-im-Ueberblick/@@afiles/39604863/scale-2000-1200/infoflyer_lwl_2015_2.jpg" class="zoom popup"><em title="öffnet vergrößerte Bildansicht">+</em></a>
            </div>
        </div>

        <h3>Was wir machen, wer wir sind: Infoflyer 2015</h3>
        <div class="fliesstext">
            <p>Der LWL-Flyer gibt einen &Uuml;berblick &uuml;ber die Organisation und Aufgaben des Verbandes. Unter anderem findet man in dem handlichen Faltblatt die Standorte der LWL-Einrichtungen, die Zusammensetzung des LWL-Haushalts oder eine Kurzvorstellung der verschiedenen Bereiche.</p>
            <p>Hier k&ouml;nnen Sie den Flyer als PDF herunterladen:</p>
        </div>
        <p class="link detail_text">
            <a title="Flyer-Download" target="_self" href="http://www.lwl.org/lwl-download/Der_LWL/Der_LWL_Flyer_BF.pdf">Flyer-Download</a>
        </p>
    </div>
</div>
{% endcomment %}
