{% load staticfiles %}

<h2><span>Diese Seite hat noch keinen Inhalt</span></h2>
<div class="fliesstext">
    <p>Stellen Sie sicher dass "<strong>Editieren</strong>" aktiviert ist,
        anschliessend wechseln Sie in den "<strong>Struktur</strong>" Modus
        und fügen im "<strong>Inhalt</strong>" Bereich mindestens ein Plugin hinzu.</p>

    <div style="height: 500px;"></div>
</div>

{% comment %}
<!-- image -->
<div class="img">
    <div class="zoomable">
        <a target="_self" href="http://www.lwl.org/LWL/Der_LWL/Der-LWL-im-Ueberblick/@@afiles/39599861/scale-2000-1200/arendt_lwl-landeshaus_juni_2015_0063web.jpg" class="popup">
            <img class="image-url" src="{% static 'img/visuals/arendt_lwl-landeshaus_juni_2015_0063web.jpg' %}" alt="Das LWL-Landeshaus (vergrößerte Bildansicht wird geöffnet)" title="Das LWL-Landeshaus" />
        </a>
        <a href="http://www.lwl.org/LWL/Der_LWL/Der-LWL-im-Ueberblick/@@afiles/39599861/scale-2000-1200/arendt_lwl-landeshaus_juni_2015_0063web.jpg" class="zoom popup"><em title="öffnet vergrößerte Bildansicht">+</em></a>
    </div>
</div>
<!-- <read> -->
<div class="eintrag l_text">
    <h2><span>Was ist der LWL und was macht er?</span></h2>
    <div class="fliesstext">
        <p>Der Landschaftsverband Westfalen-Lippe (LWL) ist ein <a href="http://www.lwl.org/LWL/Der_LWL/Der-LWL-im-Ueberblick/LWL-Staedte-und-Kreise">Kommunalverband</a>. Insgesamt 16.000 Besch&auml;ftigte arbeiten unter seinem Dach f&uuml;r die 8,2 Millionen Menschen in der Region. 35 F&ouml;rderschulen, 21 Krankenh&auml;user, 17 Museen betreibt er und ist au&szlig;erdem einer der gr&ouml;&szlig;ten deutschen Hilfezahler f&uuml;r Menschen mit Behinderung. Der LWL erf&uuml;llt damit wichtige Aufgaben im sozialen Bereich, in der Behinderten- und Jugendhilfe, in der Psychiatrie und in der Kultur. Diese Aufgaben werden westfalenweit wahrgenommen. Ebenso engagiert er sich f&uuml;r eine inklusive Gesellschaft in allen Lebensbereichen.</p>
        <p>
            <br />
            <strong><a href="http://www.lwl.org/LWL/Soziales/Portal/">Soziales</a></strong>, <strong><a href="http://www.lwl.org/LWL/Gesundheit/psychiatrieverbund/traeger/">Psychiatrie</a></strong>, <strong><a href="http://www.lwl.org/LWL/Gesundheit/Massregelvollzug/">Ma&szlig;regelvollzug</a></strong>,&nbsp;<strong><a href="http://www.lwl.org/LWL/Jugend/Portal/">Jugend und Schule</a></strong> und <strong><a href="http://www.lwl.org/LWL/Kultur/Kulturabteilung/">Kultur</a></strong> <span class="st">&ndash; das sind die f&uuml;nf Felder, in denen der LWL seine Aufgaben wahrnimmt, indem er zum Beispiel Museen, Schulen, psychiatrische und forensische Kliniken betreibt: Mittlerweile gibt es me</span>hr als 150 solcher Einrichtungen.
        </p>
        <p>
            <a href="http://www.lwl.org/LWL/Der_LWL/Der-LWL-im-Ueberblick/Fachbereiche-Abteilungen-Aufgaben"><span class="Unicode">&rsaquo;</span></a><a href="http://www.lwl.org/LWL/Der_LWL/Der-LWL-im-Ueberblick/Fachbereiche-Abteilungen-Aufgaben"><strong> &Uuml;berblick &uuml;ber die Aufgaben der f&uuml;nf LWL-Fachbereiche</strong></a><br />
            <a href="http://www.lwl.org/LWL/Der_LWL/LWL-Einrichtungen"><span class="Unicode">&rsaquo;</span><strong> &Uuml;bersicht &uuml;ber die LWL-Einrichtungen</strong></a>
        </p>
    </div>
</div>
<!-- <read> -->
{% endcomment %}
