{% extends "base.html" %}
{% load i18n cms_tags %}

{% block body_class %}tpl-fullwidth{% endblock %}

{% block extend_base %}
{% load sekizai_tags %}
<div class="container">
    <a href="#" class="btn btn-default js-btn-preview">Preview</a>
    <a href="#" class="btn btn-primary js-btn-edit hidden">Continue Editing</a>
</div>

<div class="spacer spacer-xs"></div>

<div class="container">

<template class="js-js-cms-plugin-start js-cms-plugin-11"></template>

    <p>hello world, <a href="#">This is a link</a></p>
    <template class="js-js-cms-plugin-start js-cms-plugin-44"></template>
        <div class="alert alert-danger">
            hello world
        </div>
    <template class="js-cms-plugin-end js-cms-plugin-44"></template>
    <ul class="list-group row">
        <template class="js-js-cms-plugin-start js-cms-plugin-22"></template>
            <li class="list-group-item col-md-12">
                Cras justo odio
            </li>
        <template class="js-cms-plugin-end js-cms-plugin-22"></template>
        <li class="list-group-item col-md-12">Dapibus ac facilisis in</li>
        <template class="js-js-cms-plugin-start js-cms-plugin-33"></template>
            <li class="list-group-item col-md-12">Morbi leo risus</li>
        <template class="js-cms-plugin-end js-cms-plugin-33"></template>
        <li class="list-group-item col-md-12">Porta ac consectetur ac</li>
        <li class="list-group-item col-md-12">Vestibulum at eros</li>
    </ul>

    <template class="js-js-cms-plugin-start js-cms-plugin-55"></template>
        <div class="spacer spacer-lg"></div>
    <template class="js-cms-plugin-end js-cms-plugin-55"></template>

<template class="js-cms-plugin-end js-cms-plugin-11"></template>

<div class="js-cms-plugin-overlays"></div>

{% addtoblock "js" %}
<script>
jQuery(document).ready(function () {

    Cl.content = {

        init: function (data) {
            var that = this;
            this.overlays = [];
            this.overlaysContainer = $('.js-cms-plugin-overlays');
            this.timer = function () {};

            $.each(data, function (index, item) {
                that._preload(item);
            });

            this._load();
            this._events();
        },

        _events: function () {
            var that = this;
            var preview = $('.js-btn-preview');
            var edit = $('.js-btn-edit');

            preview.add(edit).on('click', function (e) {
                e.preventDefault();
                that.overlaysContainer.toggleClass('js-hidden');
                preview.toggleClass('hidden');
                edit.toggleClass('hidden');
            });
        },

        _load: function () {
            this.overlaysContainer.append(this.overlays);

            this.paint(true);
        },

        _preload: function (item) {
            var template = $('<div class="js-cms-plugin-overlay js-cms-plugin-overlay-' + item.plugin_id + '"></div>');
            // attach data so it can later be retrieved
            template.data(item);
            // attach events
            template.on('click', function () {
                console.log(template.data());
            });
            // save for later injection
            this.overlays.push(template);
        },

        paint: function (state) {
            var that = this;

            $.each(this.overlays, function (index, item) {
                var overlay = item;
                var pluginStart = $('.js-js-cms-plugin-start.js-cms-plugin-' + item.data().plugin_id);
                var pluginEnd = pluginStart.nextAll('.js-cms-plugin-end.js-cms-plugin-' + item.data().plugin_id);

                // it can be that the end of the element is also the start
                // in this case we only have one element
                if (pluginEnd.length <= 0) {
                    pluginEnd = pluginStart;
                }

                if (state) {
                    // we need to remove the templates to restore the dom structure
                    pluginStart.next().addClass(pluginStart.attr('class'));
                    pluginEnd.prev().addClass(pluginEnd.attr('class'));
                    // clear tree
                    pluginStartTmp = pluginStart.next();
                    pluginStart.remove();
                    pluginStart = pluginStartTmp;
                    pluginEndTmp = pluginEnd.prev();
                    pluginEnd.remove();
                    pluginEnd = pluginEndTmp;
                }

                var posStart = pluginStart.position();
                var posEnd = pluginEnd.position();

                overlay.css({
                    'top': posStart.top,
                    'left': posStart.left,
                    'width': pluginStart.outerWidth(true),
                    'height': posEnd.top - posStart.top + pluginEnd.outerHeight(true)
                });
            });

            if (state) {
                // we need to reorder the element if we scroll or resize
                // this can be resource heavy so we need some deferring
                $(window).on('resize.cms scroll.cms', function () {
                    clearTimeout(that.timer);

                    that.overlaysContainer.addClass('hidden');
                    that.timer = setTimeout(function () {
                        that._repaint();
                        that.overlaysContainer.removeClass('hidden');
                    }, 200);
                });
            }
        },

        _repaint: function () {
            this.paint(false);
        },

        _templateFilter: function (id) {
            return $('.js-cms-plugin-' + id);
        }

    };

    /*
     * We have to load the data through JSON format so it's sleek and faster
     * Instead of creating instances for everything
     */
    Cl.content.init([
        {
            'plugin_id': '11',
            'placeholder_id': '1'
        },
        {
            'plugin_id': '22',
            'placeholder_id': '1'
        },
        {
            'plugin_id': '33',
            'placeholder_id': '2'
        },
        {
            'plugin_id': '44',
            'placeholder_id': '2'
        },
        {
            'plugin_id': '55',
            'placeholder_id': '3'
        }
    ]);
});
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<style>
/* core rules */
template {
    display: block;
}
.js-cms-plugin-overlays {
    position: absolute;
    left: 0;
    top: 0;
}
.js-cms-plugin-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,255,0,0.2);
}
.js-cms-plugin-overlay:hover {
    border: 1px solid red;
}
.js-hidden {
    display: none;
}

/* test cases */
.list-group li:first-child {
    background: green !important;
}

</style>
{% endaddtoblock %}

</div>
{% endblock extend_base %}


// test for z-index with multiple overlays
// clickable test

