{% extends "base.html" %}
{% load i18n cms_tags %}

{% block body_class %}tpl-fullwidth{% endblock %}

{% block extend_base %}
{% load sekizai_tags %}
<div class="container">

<template class="cms-plugin-start cms-plugin-11"></template>

    <p>hello world, <a href="#">This is a link</a></p>
    <template class="cms-plugin-start cms-plugin-44"></template>
        <div class="alert alert-danger">
            hello world
        </div>
    <template class="cms-plugin-end cms-plugin-44"></template>
    <ul class="list-group">
        <template class="cms-plugin-start cms-plugin-22"></template>
            <li class="list-group-item">
                Cras justo odio
            </li>
        <template class="cms-plugin-end cms-plugin-22"></template>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <template class="cms-plugin-start cms-plugin-33"></template>
            <li class="list-group-item">Morbi leo risus</li>
        <template class="cms-plugin-end cms-plugin-33"></template>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="spacer spacer-lg"></div>

<template class="cms-plugin-end cms-plugin-11"></template>

<div class="cms-plugin-overlays"></div>

{% addtoblock "js" %}
<script>
jQuery(document).ready(function () {

    Cl.content = {

        init: function (data) {
            var that = this;
            this.overlays = [];
            this.overlaysContainer = $('.cms-plugin-overlays');
            this.timer = function () {};

            $.each(data, function (index, item) {
                that._preload(item);
            });

            this._load();
        },

        _preload: function (item) {
            var template = $('<div class="cms-plugin-overlay cms-plugin-overlay-' + item.plugin_id + '"></div>');
            // attach data so it can later be retrieved
            template.data(item);
            // attach events
            template.on('click', function () {
                console.log(template.data());
            });
            // save for later injection
            this.overlays.push(template);
        },

        _load: function () {
            this.overlaysContainer.append(this.overlays);

            this.paint(true);
        },

        paint: function (state) {
            var that = this;

            $.each(this.overlays, function (index, item) {
                var overlay = item;
                var pluginStart = $('.cms-plugin-start.cms-plugin-' + item.data().plugin_id);
                var pluginEnd = pluginStart.nextAll('.cms-plugin-end.cms-plugin-' + item.data().plugin_id);

                // it can be that the end of the element is also the start
                // in this case we only have one element
                if (pluginEnd.length <= 0) {
                    pluginEnd = pluginStart;
                }

                if (state) {
                    // we need to remove the templates to restore the dom structure
                    pluginStart.next().addClass(pluginStart.attr('class'));
                    pluginEnd.prev().addClass(pluginEnd.attr('class'));
                    // clear tree
                    pluginStartTmp = pluginStart.next();
                    pluginStart.remove();
                    pluginStart = pluginStartTmp;
                    pluginEndTmp = pluginEnd.prev();
                    pluginEnd.remove();
                    pluginEnd = pluginEndTmp;
                }

                var posStart = pluginStart.position();
                var posEnd = pluginEnd.position();

                overlay.css({
                    'top': posStart.top,
                    'left': posStart.left,
                    'width': pluginStart.outerWidth(true),
                    'height': posEnd.top - posStart.top + pluginEnd.outerHeight(true)
                });
            });

            if (state) {
                // we need to reorder the element if we scroll or resize
                // this can be resource heavy so we need some deferring
                $(window).on('resize.cms scroll.cms', function () {
                    clearTimeout(that.timer);

                    that.overlaysContainer.addClass('hidden');
                    that.timer = setTimeout(function () {
                        that._repaint();
                        that.overlaysContainer.removeClass('hidden');
                    }, 200);
                });
            }
        },

        _repaint: function () {
            this.paint(false);
        },

        _templateFilter: function (id) {
            return $('.cms-plugin-' + id);
        }

    };

    /*
     * We have to load the data through JSON format so it's sleek and faster
     * Instead of creating instances for everything
     */
    Cl.content.init([
        {
            'plugin_id': '11',
            'placeholder_id': '1'
        },
        {
            'plugin_id': '22',
            'placeholder_id': '2'
        },
        {
            'plugin_id': '33',
            'placeholder_id': '3'
        },
        {
            'plugin_id': '44',
            'placeholder_id': '4'
        }
    ]);
});
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<style>
/* core rules */
.cms-plugin-overlays {
    position: absolute;
    left: 0;
    top: 0;
}
.cms-plugin-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,255,0,0.2);
}
.cms-plugin-overlay:hover {
    border: 1px solid red;
}

/* test cases */
.list-group li:first-child {
    background: green !important;
}
template {
    display: block;
}
.pointer {
    pointer-events: none;
}
</style>
{% endaddtoblock %}

</div>
{% endblock extend_base %}


// test for z-index with multiple overlays
// clickable test

